---
title: Hypertext & HTTP
---
<%= image_tag 'http.svg', width: '128', class: 'top-svg' %>
<h1>
  Hypertext & HTTP
</h1>
<br />
<section>
  <h2>
    Hypertext
  </h2>
  <p>
    Hypertext can be described as human-readable text linked together with
    hyperlinks, and without constraints on linking.
  </p>
  <ul>
    <li>
      Coined by <%= link_to("TedNelson", "https://en.wikipedia.org/wiki/Tim_Berners-Lee", target: "_blank") %>
      no later than 1965
    </li>
    <li>
      Developed for <%= link_to("Project Xanadu", "http://xanadu.com/", target: "_blank") %> <%= link_to("[*]", "https://www.wired.com/wired/archive/3.06/xanadu.html", alt: "The Curse of Xanadu", target: "_blank") %>
    </li>
    <li>
      Inspired by Vannevar Bush's essay <%= link_to("As We May Think", "https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/", target: "_blank") %>,
      published in 1945
    </li>
    <li>
      The confusingly named "WorldWideWeb" was the first web browser, or application 
      used to retrieve hypertext based on URLs.
    </li>
  </ul>
</section>
<section>
  <h2>
    HTTP
  </h2>
  <p></p>
  <ul>
    <li></li>
  </ul>
</section>


<br />
<%= link_to("Back", "tbl_and_the_www.html") %>
<%= link_to("Next", "") %>