---
title: Tim Berners-Lee & The World Wide Web
---
<%= image_tag 'history.svg', width: '128', class: 'top-svg' %>
<h1>
  Tim Berners-Lee & The World Wide Web
</h1>
<br>
<p> <%= link_to("Tim Berners-Lee", "https://en.wikipedia.org/wiki/Tim_Berners-Lee", target: "_blank") %>  was a researcher at 
  <%= link_to("CERN", "https://home.cern/", target: "_blank") %> in the 80s and early 90s. By
  the late 80's he had become frustrated that other researchers' files never worked on his 
  computer, because they used different operating systems and file encodings. Berners-Lee
  remembers, "...in fact, often you just had to go into the corridor and buy [the other guy] 
  a coffee to find out how things worked."
</p>

<p>
  Tim Berners-Lee identified that CERN was losing information as researchers came and went
  and could no longer be consulted over coffee. To solve this problem, he imagined what 
  he initially called a mesh, and later a web, of all of the information relevant to all 
  ongoing experiments. His original March 1989 proposal can still be viewed 
  <%= link_to("here", "https://www.w3.org/History/1989/proposal.html", target: "_blank") %>.
  He knew a web of interlinked information would be useful for capturing the kind of complex
  relationships that people often diagram with circles and arrows. Berners-Lee chose 
  <%= link_to("hypertext", "https://en.wikipedia.org/wiki/Hypertext", target: "_blank") %>
  as the basis for his proposed system. He then wrote the 
  <%= link_to("first web browser", "https://www.w3.org/History/1994/WWW/Journals/CACM/screensnap2_24c.gif", target: "_blank") %>, 
  specified HTML based on SGML, and wrote the first HTML editor in 1990. The new system was made 
  available otside of CERN in 1991 and the World Wide Web as we know it was born. 
</p>

<p>
  Berners-Lee founded the World Wide Web Consortium (W3C) October 1st, 1994 to "develop 
  guidelines that ensure long-term growth for the Web," he continues to lead the organization 
  as on September 2017.
</p>

<p>
  But what is the World Wide Web? It is an information space where resources, like documents, 
  are identified by <%= link_to("URLs", "https://en.wikipedia.org/wiki/Uniform_Resource_Locator", target: "_blank") %>,
  connected by hypertext links, and accessed over the internet.
<p>


<br />
<%= link_to("Back", "index.html") %>
<%= link_to("Next", "hypertext_and_http.html") %>